---
  #### Guest Based Variables ####
  
  # Destination Server Network Config
  dep_int_mac_address : {{ item.value.deployment_net_interface_mac }}
  # Domain
  domain: {{ item.value.domain_name }}
  # Zone
  zone: {{ item.value.maas_zone_name }}
  # Public Network Subnet:
  subnet: {{ item.value.public_net_interface_subnet }}
  # Public Network IP Address
  pub_net_ip: {{ item.value.public_net_interface_ip }}
  # Public Network MAC Address
  pub_net_mac_address: {{ item.value.public_net_interface_mac }}

  ## Destination Server Storage Config (Size GB)
  boot_partition_size: {{ item.value.boot_partition_size_gb }}
  boot_partition_format: {{ item.value.boot_partition_fs }}
  swap_partition_size: {{ item.value.swap_partition_size_gb }}
  swap_partition_format: {{ item.value.swap_partition_fs }}
  root_partition_size: {{ item.value.root_partition_size_gb }}
  root_partition_format: {{ item.value.root_partition_fs }}
  var_partition_size: {{ item.value.var_partition_size_gb }}
  var_partition_format: {{ item.value.var_partition_fs }}
  home_partition_size: {{ item.value.home_partition_size_gb }}
  home_partition_format: {{ item.value.home_partition_fs }}
  tmp_partition_size: {{ item.value.tmp_partition_size_gb }}
  tmp_partition_format: {{ item.value.tmp_partition_fs }}

  ## Deployed OS Version
  distro: {{ item.value.distro }}
  distro_version: {{ item.value.distro_version }}

  ## Motherboard Firmware
  motherboard_firmware: {{ item.value.motherboard_firmware }}

  ## Server State
  server_state: {{ item.value.server_state }}

  ## HPE ILO Information
  ilo_address: {{ item.value.ilo_address }}
  ilo_username: {{ item.value.ilo_username }}
  ilo_password: {{ item.value.ilo_password }}

  # OS Data Logical Drive
  OS_LogicalDriveName: OS
  OS_Raid: {{ item.value.os_disc_raid }}
  #Set to -1 to use all remaining space for maximum size
  OS_CapacityGiB: {{ item.value.os_disc_capacity_gb }}

